@{
    var nomeView = (string) ViewData["NomeView"];
}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RoleTop</title>
    <link href="img/logo.png" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <script src='fullcalendar/lib/jquery.min.js'></script>
    <script src='fullcalendar/lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    <script src='fullcalendar/lang/pt-br.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    @if("Login".Equals(nomeView))
    {
        <link rel="stylesheet" type="text/css" href="~/css/login.css">
        
        
    }
    
</head>


        
        
    
        @RenderBody()

        


</html>
