@model RoleTopMVC.ViewModels.RespostaViewModel
<link rel="stylesheet" type="text/css" href="~/css/erro.css">
<main>
    <h2>
        @Model.NomeView Algo de Errado
    </h2>
    <p>
        @Model.Mensagem
    </p>
</main>