<body>
    <header>
        <nav > 
                <ul>
                        <li id="bt-mobile-menu">
                                <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                    
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#historia' >A RoleTop</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" asp-controller="cliente" asp-action="Galeria">Galeria</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#localização'>Onde estamos</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#Agenda'>Agenda</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#FAQ'>FAQ</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" asp-controller="cliente" asp-action="Login">Cadastro/Login</a></li>
                </ul>

                
                
                
    </nav>
</header>
</body>


<hr/>
<section id="Agenda">
<img src="img/logo.png" alt="logo" width="250px" height="200px"> 
<h4>Aqui seu Role fica Top!</h4>
<h2>Agenda</h2>
    <table border="3"  id="tabela">
       
        
        <td colspan="7">SETEMBRO</td>
        
        <tr >
           <ul>
               <li>Indisponivel</li>
               <li>Disponivel</li>
              
           </ul>
            
            
            <th id="ddd" width="70px" height="70px">1</th>
            <th id="zzz" width="70px" height="70px">2</th>
            <th id="zzz" width="70px" height="70px">3</th>
            <th width="70px" height="70px">4</th>
            <th id="ddd" width="70px" height="70px">5</th>
            <th width="70px" height="70px">6</th>
            <th width="70px" height="70px">7</th>
        
        </tr>
        <tr>
            <td id="zzz" width="70px" height="70px">8</td>
            <td width="70px" height="70px">9</td>
            <td width="70px" height="70px">10</td>
            <td id="zzz" width="70px" height="70px">11</td>
            <td id="ddd" width="70px" height="70px">12</td>
            <td id="ddd" width="70px" height="70px">13</td>
            <td width="70px" height="70px">14</td>
        </tr>
        <tr>
            <td id="fff" width="70px" height="70px">15</td>
            <td width="70px" height="70px">16</td>
            <td id="fff" width="70px" height="70px">17</td>
            <td width="70px" height="70px">18</td>
            <td width="70px" height="70px">19</td>
            <td id="ddd" width="70px" height="70px">20</td>
            <td width="70px" height="70px">21</td>
        </tr>
        <tr>
            <td id="fff" width="70px" height="70px">22</td>
            <td id="fff" width="70px" height="70px">23</td>
            <td width="70px" height="70px">24</td>
            <td id="ddd" width="70px" height="70px">25</td>
            <td width="70px" height="70px">26</td>
            <td id="ddd" width="70px" height="70px">27</td>
            <td width="70px" height="70px">28</td>
        </tr>
        <tr>
            <td id="ddd" width="70px" height="70px">29</td>
            <td id="ddd" width="70px" height="70px">30</td>
            <td id="ddd" width="70px" height="70px">31</td>
        </tr>
    
    </table>



</section>


<hr />

<section id="historia">
<h2>A RoleTop</h2>
    <div id="aaa">
        <div id="container-historia">
            <h3>Nossa História</h3>
                <p>
                A RoleTop, de acordo com o que muitos relataram sobre a lenda, 
                    é um dos seres que mais causavam medo nos indígenas nos séculos passados. 
                    A descrição física desse ser afirma que ele teria corpo de menino, baixa estatura, 
                    cabelos vermelhos e os pés ao contrário, isto é, com os calcanhares para frente. 
                    Além disso, esse também teria grande força física.
                    Essas características físicas fazem parte da versão mais conhecida dessa lenda,
                    mas existem outras versões que apresentam o curupira com diferentes características. 
                    Existem aqueles que dizem o curupira seria careca e com olhos e/ou dentes verdes, por exemplo.
                </p>
        </div>
    <div id="aleecesar">
        <div id="cesar">
            <h3>Cesar Sportare</h3>
                <p>
                    Um dia descobrimos que beijar uma pessoa 
                    para esquecer outra, é bobagem.
                    Você não só não esquece a outra pessoa 
                    como pensa muito mais nela
                    Um dia nós percebemos que as mulheres têm instinto 
                    "caçador" e fazem qualquer homem sofrer 
                </p>
        
            </div>
        <div id="ale">
                <h3>Alexandre Fukaya</h3>
                    <p>
                        Um dia descobrimos que beijar uma pessoa 
                        para esquecer outra, é bobagem.
                        Você não só não esquece a outra pessoa 
                        como pensa muito mais nela
                        Um dia nós percebemos que as mulheres têm instinto 
                        "caçador" e fazem qualquer homem sofrer 
                    </p>
        </div>
    </div>
    </div>
</section>

<hr/>
<h2>FAQ</h2>
<section id="FAQ">
    <button class="accordion">Claudio Pereira</button>
        <div class="panel">
        <p>Como eu faço o casdatro?</p>
        </div>

        <button class="accordion">Tomas Turbando</button>
            <div class="panel">
                <p>Como eu vejo a agenda??</p>
            </div>

        <button class="accordion">Elimin Rabá</button>
            <div class="panel">
                <p>Como eu faço o pagamento?</p>
            </div>
    <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
                acc[i].onclick = function(){
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
    </script>        

</section>

<hr/>

<section id="localização">
    <h2>Onde Estamos</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8869961505543!2d-46.648477085071065!3d-23.53656648469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda+Bar%C3%A3o+de+Limeira%2C+539+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP%2C+01202-001!5e0!3m2!1sen!2sbr!4v1550223658410"
    width="100%" height="100%" frameborder="0"></iframe>

</section>

<script>
    function toggleMobileMenu() {
        var ul = document.querySelector("nav ul");
        var commonButtons = document.querySelectorAll("nav .bt-common-menu");
        var icon = document.querySelector(".icon > i");
        ul.classList.toggle("mobile-mode");
        if (icon.classList.contains("fa-bars")) {
            icon.classList.remove("fa-bars");
            icon.classList.remove("fa");
            icon.classList.add("fas");
            icon.classList.add("fa-skull");
        } else {
            icon.classList.remove("fas");
            icon.classList.remove("fa-skull");
            icon.classList.add("fa");
            icon.classList.add("fa-bars");
        }
        for (var button of commonButtons) {
            button.classList.toggle("active");
        }
    }
    
</script>

<footer>
    <div class="section-container ">
        <address>
            Avenida de Limeira, 539 - Campos Elíseos - SP  
            <br />
            RoleTop@email.com
            <br />
            11 1234 6789
        </address>
        <a href="#">Voltar para o topo!</a>
        <ul> 
            <li><img src="img/what.png" title="Whatsap" alt="Whatsap" > </li>
            <li><img src="img/insta.png" title="Insta" alt="Instagram" ></li>
            <li><img src="img/face.png" title="Face" alt="Face"></li> 
            <li></li>
            
        </ul>
    </div>
</footer>



</html>
