<link href="img/logo.png" rel="icon" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="~/css/galeria.css">
<body>
    <header>
        <nav > 
                <ul>
                        <li id="bt-mobile-menu">
                                <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                    
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#historia' >A RoleTop</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" asp-controller="cliente" asp-action="Galeria">Galeria</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#localização'>Onde estamos</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#Agenda'>Agenda</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" href= '@Url.Action("Index", "Home")#FAQ'>FAQ</a></li>
                    <li class="bt-common-menu"><a  onclick="toggleMobileMenu()" asp-controller="cliente" asp-action="Login">Cadastro/Login</a></li>
                </ul>

                
                
                
    </nav>
</header>
</body>
<section id="Galeria">
        <div class="area-galeria">
            <h2>Galeria</h2>
            <ul>
                <li><a href="#balada2"><img src="~/img/balada2.jpg" class="min"  ></a></li>
                <li><a href="#balada3"><img src="~/img/balada3.jpg" class="min"></a></li>
                <li><a href="#balada4"><img src="~/img/balada4.jpg" class="min"></a></li>
                <li><a href="#hakkasan-las-vegas"><img src="~/img/hakkasan-las-vegas.jpg" class="min"></a></li>
            </ul>
        </div>
        
        <div class="lbox" id="balada2"> 
            <div class="box_img" >
                <a href="#hakkasan-las-vegas" class="btn" id="prev">&#171;</a>
                <a href="" class="btn" id="close">X</a>
                <img src="~/img/balada2.jpg" alt="Fotos da festa" height="630px" width="930">
                <a href="#balada3" class="btn" id="next">&#187;</a>
            </div>
        </div>
    
        <div class="lbox" id="balada3"> 
                <div class="box_img" >
                    <a href="#balada2" class="btn" id="prev">&#171;</a>
                    <a href="" class="btn" id="close">X</a>
                    <img src="~/img/balada3.jpg" alt="Fotos da festa">
                    <a href="#balada4" class="btn" id="next">&#187;</a>
                </div>
            </div>
    
            <div class="lbox" id="balada4"> 
                    <div class="box_img" >
                        <a href="#balada3" class="btn" id="prev">&#171;</a>
                        <a href="" class="btn" id="close">X</a>
                        <img src="~/img/balada4.jpg" alt="Fotos da festa">
                        <a href="#hakkasan-las-vegas" class="btn" id="next">&#187;</a>
                    </div>
                </div>
    
                <div class="lbox" id="hakkasan-las-vegas"> 
                        <div class="box_img" >
                            <a href="#balada4" class="btn" id="prev">&#171;</a>
                            <a href="" class="btn" id="close">X</a>
                            <img src="~/img/hakkasan-las-vegas.jpg" alt="Fotos da festa">
                            <a href="#balada2" class="btn" id="next">&#187;</a>
                </div>
           
        </section>