<div class="form-area">
        <h2>Login</h2>
        <form action="">
            <p>Email:</p>
            <input type="text" name="" placeholder="___________________________________________">

            <p>Senha:</p>
            <input type="password" name="" placeholder="___________________________________________">
            <a href="Esqueceu a senha?">Esqueceu a senha?</a>
            <a href="adm.html">Entrar como ADM</a>
       
                            
            <button  class="login100-form-btn">
               <a href="user.html" > Login</a>
                </button>        
            
           
        
            
             </div>       
        </form>
    
    </div>
    
    <div class="Cadastro">
        <h2>Cadastro</h2>
        <form action="">
            <p>Email:</p>
            <input type="text" name="" placeholder="___________________________________________">

            <p>CPF:</p>
            <input type="text" name="" placeholder="___________________________________________">

          
            <p>Nome de usuario:</p>
            <input type="text" name="" placeholder="___________________________________________">

            <p>Senha:</p>
            <input type="password" name="" placeholder="___________________________________________">

            <p>Confirme a senha:</p>
            <input type="password" name="" placeholder="___________________________________________">
            
                 
            <button  class="login100-form-btn">
                Login
                </button>        
            
        </form>        
    </div>