<link rel="stylesheet" type="text/css" href="~/css/login.css">
<div class="form-area">
        <h2>Login</h2>
        <form action="">
            <p>Email:</p>
            <input type="text" name="" placeholder="___________________________________________">

            <p>Senha:</p>
            <input type="password" name="" placeholder="___________________________________________">
            <a href="Esqueceu a senha?">Esqueceu a senha?</a>
            <a asp-controller="cliente" asp-action="Adm">Entrar como ADM</a>
       
                            
            <button  class="login100-form-btn" >
                <a asp-controller="cliente" asp-action="Usuario">Login</a>
                </button>        
            
           
        
            
        </form>
             </div>       
    
    </div>
    
    <div class="Cadastro">
        <h2>Cadastro</h2>
        <form action="">
            <p>Email:</p>
            <input type="text" name="" placeholder="___________________________________________">

            <p>CPF:</p>
            <input type="text" name="" placeholder="___________________________________________">

          
            <p>Nome de usuario:</p>
            <input type="text" name="" placeholder="___________________________________________">

            <p>Senha:</p>
            <input type="password" name="" placeholder="___________________________________________">

            <p>Confirme a senha:</p>
            <input type="password" name="" placeholder="___________________________________________">
            
                 
            <button  class="login100-form-btn">
                Login
                </button>        
            
        </form>        
    </div>

