*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#7D0093;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}



body{
    margin: 0px;
    padding: 0px;
    background:url(../img/fundo.jpg)no-repeat;
    -webkit-backdrop-size: cover;
    background-size: cover;
    font-family: 'Chilanka', cursive;
}

.form-area{
    position: absolute;
    top: 65%;
    left:30%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: #ffc800a1;
    padding: 40px;
}

h2{
    margin: 0px;
    padding: 0 0 20px;
    font-weight: bold;
    color:#7d0093;
    font-family: 'Chilanka', cursive;

}

.form-area p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color:#7d0093;
}

.form-area input,select{
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    outline: none;

}

.form-area input[type=text],
.form-area input[type=email]
{
    border:none;
    border-bottom: 1px solod #7d0093;
    outline:none;
    height: 40px;
    color: #7d0093;
    display: 16px;
    background: transparent;
}

::placeholder{
    color: #7d0093;
    
}

.form-area select{
    margin-top: 20px;
    padding: 10px 0;
    background: transparent;
    outline: none;
}

.form-area input[type=submit]{
    border:none;
    height: 40px;
    outline: none;
    color: #7d0093;
    font-size: 15px;
    background-color: #ffc600;
    cursor: pointer;
    border-radius:10px;
    background: transparent;
   
}

.form-area input[type=password]{
    border:none;
    height: 40px;
    outline: none;
    color: #7d0093;
    font-size: 15px;
    background-color: #ffc600;
    cursor: pointer;
    border-radius:10px;
    background: transparent;
   
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 36em;
    background-image: linear-gradient( #7d0093, #ffc600);
    font-family: 'Chilanka', cursive;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, input {
    overflow: visible;
}

button, input {
    overflow: visible;
}

label{
    color: #7d0093;
}





/************************************************************** 
---------------------CADASTRO-INICIO--------------------------
****************************************************************/

.Cadastro{
    position: absolute;
    top: 65%;
    right:0%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 700px;
    background: #ffc800a1;
    padding: 40px;
    
}

h2{
    margin: 0px;
    padding: 0 0 20px;
    font-weight: bold;
    color:#7d0093;
    background: transparent;
    outline: none;

}

.Cadastro p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    color:#7d0093;
    background: transparent;
    outline: none;
}

.Cadastro input,select{
    margin-bottom: 20px;
    width: 100%;
    background: transparent;
    outline: none;

}

.Cadastro input[type=text],
.Cadastro input[type=email]
{
    border:none;
    border-bottom: 1px solod #7d0093;
    outline:none;
    height: 40px;
    color: #7d0093;
    display: 16px;
    background: transparent;
}

::placeholder{
    color: #7d0093;
    background: transparent;
    outline: none;
    

    
}

.Cadastro select{
    margin-top: 20px;
    padding: 10px 0;
}

.Cadastro input[type=submit]{
    border:none;
    height: 40px;
    outline: none;
    color: #7d0093;
    font-size: 15px;
    background-color: #ffc600;
    cursor: pointer;
    border-radius:10px;
    background: transparent;

}

.Cadastro input[type=password]{
    border:none;
    height: 40px;
    outline: none;
    color: #7d0093;
    font-size: 15px;
    background-color: #ffc600;
    cursor: pointer;
    border-radius:10px;
    background: transparent;

}

#confirmar{
    display: flex;
    justify-content: center;
    padding: 1.7em;
}

/*=====================================
---------------NAV-INICIO--------------
======================================= */

nav{
    background-image: url(../img/fundo.jpg);
}



nav ul > li > a:hover {
    background-color:#7D0093;
    color: #fff;
    text-decoration: underline;
}

nav ul{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.2em;
    justify-content: space-between;
}    

nav ul > li {
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Chilanka', cursive;
    display: flex;
    justify-content: space-around;
}

nav ul > li > a{
    text-decoration: none;
    display: block;
    color: white;
}


#menu{
    align-self: flex-start;
}



/*=====================================
---------------NAV-FINAL--------------
======================================= */

